<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{admin/dashboardLayout.html}"
>
  <body>
    <section layout:fragment="content" class="row w-100">
      <!-- Jumbotron -->
      <div class="p-5 text-center bg-light">
        <h1 class="mb-3">New</h1>
        <h4 class="mb-3">Create Category</h4>
      </div>
      <!-- Jumbotron -->
      <form
        class="d-flex justify-content-center flex-column"
        th:action="@{/admin/categories/saveOrUpdate}"
        method="post"
        th:object="${category}"
      >
        <div class="form-row">
          <div class="col-md-6 mb-3">
            <label for="validationServer01">Category Id:</label>
            <!-- <input type="hidden" th:field="*{isEdit}"> -->
            <input
              type="text"
              th:field="*{categoryId}"
              readonly
              class="form-control is-valid"
              id="validationServer01"
            />
            <small
              th:if="${#fields.hasErrors('categoryId')}"
              class="valid-feedback"
            >
              Category Id is required
            </small>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-6 mb-3">
            <label for="validationServer02">Category name</label>
            <input
              type="text"
              th:field="*{name}"
              class="form-control is-valid"
              id="validationServer02"
            />
            <small th:if="${#fields.hasErrors('name')}" class="valid-feedback">
              Category name is required
            </small>
          </div>
        </div>
        <div class="form-row">
          <button class="btn btn-primary" type="reset">Reset form</button>
          <a
            th:href="@{/admin/categories}"
            class="btn btn-primary"
            type="button"
            >List Category</a
          >
          <button class="btn btn-primary" type="submit">
            <span th:if="${category.isEdit}">Update</span>
            <span th:unless="${category.isEdit}">Save</span>
          </button>
        </div>
      </form>
    </section>
  </body>
</html>
